// @font-face{
//   font-family: DungHo;
//   src: url('../styles/font/RobotoSlab-VariableFont_wght.ttf');
// }
@import "../styles/font.scss";
// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
* {
  font-family: DungHo;
}
// trang chủ
// .container{
//   .botton-xem{
//     display: flex;
//   justify-content: center; /* căn giữa theo chiều ngang */
//   align-items: center; /* căn giữa theo chiều dọc */
//     button{
//       font-family: DungHo;
//       width: 150px;
//       height: 40px;
//       border-radius: 10%;
//       background-color: #efd4d0;
//       border: 0px  solid #fff;
//     }
//   }
//   .dung{
//       font-family: DungHo;
//       color: red;
//     }
//   .row{
//     .product{
//       img{
//         width: 95%;
//       }
//       p{
//         width: 90%;
//         font-family: DungHo;
//         text-align: center;
//       }

//       width: 20%;

//     }

//     display: flex;
//   }

// }
// chi tiết
.container {
  .link {
    // p{
    //   font-family: DungHo;
    // }
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #efd4d0;
    .border-line {
      margin-left: 50px;
      width: 5px;
      height: 80%;
      background-color: black;
      border: 3px solid black;
      border-radius: 20px;
    }
  }
  .row {
    width: 90%;
    margin: 0 auto;
    .ProductImg {
      width: 50%;
      img {
        height: 493px;
      }
    }
    .ProductDetail {
      .ProductName {
        font-size: 30px;
        font-weight: 700;
      }
      .saleBlock {
        width: 100%;
        font-size: 30px;
        .sale {
          p {
            text-align: center;
          }
          background-color: #ededed;
          color: red;
          width: 20%;
          height: 45px;
        }
        .MoneyRed {
          color: red;
          width: 30%;
        }
        .Moneygach {
          text-decoration: line-through;
          width: 0%;
        }
      }
      .Size {
        width: 100%;
        .stocking {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          background-color: #000;
          width: 80px;
          height: 80px;
        }
        .nostocking {
          width: 80px;
          height: 80px;
          background-color: white;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: line-through;
          border: 1px solid black;
        }
      }
      .quantityblock {
        width: 100%;
        .add {
          display: flex;
          width: 50px;
          height: 50px;
          background-color: #f5f5f5;
          align-items: center;
          justify-content: center;
        }
        .quantity {
          width: 100px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 3px solid black;
        }
        .minus {
          display: flex;
          width: 50px;
          height: 50px;
          background-color: #f5f5f5;
          align-items: center;
          justify-content: center;
        }
      }
      .button-them {
        button {
          width: 100%;
          height: 70px;
          background-color: #ff8787;
          color: white;
          border: 2px solid white;
          font-size: 20px;
          border-radius: 10px;
        }
      }

      .MoTa {
        font-size: 25px;
      }
      .TenMoTa {
        font-size: 30px;
        color: red;
        font-weight: 550;
      }
    }
  }
  .botton-xem {
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */
    button {
      font-family: DungHo;
      width: 150px;
      height: 40px;
      border-radius: 10%;
      background-color: #efd4d0;
      border: 0px solid #fff;
    }
  }
  .dung {
    font-family: DungHo;
    color: black;
  }
  .row {
    .product {
      img {
        width: 95%;
      }
      p {
        width: 90%;
        font-family: DungHo;
        text-align: center;
      }

      width: 20%;
    }

    display: flex;
  }
}
